.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card{
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;

    &-title{
        margin-bottom: 20px;
    }
}

.result{
    margin-top: 10px;
}

.cities{
    margin-left: 10px;
    margin-right: 10px;
}

button{
    position: relative;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.buy-ticket {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(55, 39, 150);
  width: 40vw;
  height: auto;

  padding: 20px;

  &__form {
    display: grid;
    align-content: flex-start;
    gap: 5px;

    & input {
      padding: 12px;
    }

    & label {
      color: white;
    }

    & button {
      padding: 10px;
      cursor: pointer;
    }
  }
}