<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Find your train</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="cities">
                    <mat-label>From:</mat-label>
                    <input matInput formControlName="from">
                    <mat-error *ngIf="formGroup.get('from')?.invalid">Can not be empty</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cities">
                    <mat-label>To:</mat-label>
                    <input matInput formControlName="to">
                    <mat-error *ngIf="formGroup.get('to')?.invalid">Can not be empty</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="dateInput">
                    <mat-label>Select date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Select source</mat-label>
                    <mat-select formControlName="source">
                        <mat-option value="rozkladJazdyPKP">Rozkład jazdy PKP</mat-option>
                        <mat-option value="portalPasazera"> Portal pasażera</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('source')?.invalid">You must make a selection</mat-error>
                </mat-form-field>
            </form>
            <button color="primary" mat-raised-button [disabled]="formGroup.invalid" (click)="onSearch()">Search</button>
        </mat-card-content>
    </mat-card>
    <mat-card class="result" *ngFor="let connection of connections | async">
        <mat-card-header>
            <mat-card-title>Data odjazdu - Data przyjazdu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{ connection.fromTime}} {{ connection.dateFrom }} - {{ connection.toTime }} {{ connection.dateTo }}

            <a [href]="connection.link" *ngIf="connection.link" target="_blank">Kup Bilet</a>
            <div *ngIf="connection.form" [innerHTML]="connection.form | domPipe"></div>
        </mat-card-content>
    </mat-card>
</div>